* {
  /* outline: 2px dotted red; */
}

body {
  margin: 0;
  background-color: var(--color-background-lightGreen);
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: hidden;
}

@font-face {
  font-family: inter;
  src: url(../font/Inter/Inter.ttc);
}

@font-face {
  font-family: arialFont;
  src: url(../font/Arial/ARIAL.TTF);
}

@font-face {
  font-family: arialFontBold;
  src: url(../font/Arial/ARIALBD\ 1.TTF);
}

@font-face {
  font-family: arialFontItalic;
  src: url(../font/Arial/ARIALI\ 1.TTF);
}

@font-face {
  font-family: arialFontItalicThin;
  src: url(../font/Arial/ARIALLGTITL.TTF);
}

@font-face {
  font-family: arialFontThin;
  src: url(../font/Arial/ARIALLGT.TTF);
}

:root {
  /* fonts */
  --font-inter: inter;
  --font-arial: arialFont;
  --font-arial-thin: arialFontThin;
  --font-arial-bold: arialFontBold;
  --font-arial-italic: arialFontItalic;
  --font-arial-italic-thin: arialFontItalicThin;

  /* font sizes */
  --font-size-nav-links: 1.5rem;
  --font-size-headline: 3rem;
  --font-size-nav-links: 1.5rem;

  /* Colors */
  --color-white: #fff;
  --color-offwhite: #fbfffa;
  --color-black: #000;
  /* background */
  --color-background-lightGreen: #a5cf96;
  --color-background-blue: #81c2a4;
  --color-background-lightblue: #cbe3d4;
  --color-background-green: #2c700b;
  --color-background-green-lower-opacity: #2d700b9d;
  --color-background-darkgreen: #153417;
  --color-background-bluegreen: #6ba88c;

  --color-gradient-darkgreen: rgba(21, 52, 23, 0.83);
  --color-gradient-green: rgba(44, 112, 11, 0.83);

  /* text */
  --color-text-headline: #636365;
  --color-text-darkestgreen: #183909;
  --color-text-darkgreen: #153417;
  --color-text-white: #fff;
  --color-text-black: #0c1309;
  /* Border */
  --color-border-green-blue: #74b798;

  /* Paddings */
  --padding-nav-padding-top: 28px;
  --padding-nav-login-padding-top: 23px;
}

p {
  margin: 0;
  padding: 0;
}

/* ************ */
/* **CONTENT** */
/* ********** */

.content {
  padding: 5vw 0 0 0vw;
}

.all-layout {
  background-color: var(--color-background-bluegreen);
  width: 100%;
  height: 90vh;

  display: grid;
  grid-template-columns: 40% 60%;
}

/* Input */
.input-all {
  padding-top: 5vw;
  width: 100%;
  background-color: var(--color-background-lightblue);
  border-radius: 0px 1vw 1vw 0px;
  /* display: grid; */
  /* place-items: center; */
  /* justify-content: center; */
}

.input-fields {
  margin-left: 2vw;
}

/* *********************************************** */
/* https://codepen.io/atunnecliffe/pen/gpKzQw */
input,
.text,
label,
textarea {
  /* margin-left: 2vw; */
  font-family: var(--font-inter);
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 1rem;

  z-index: 1;
}

textarea:focus,
input:focus {
  outline: 0;
}

/* Question */

input.question,
textarea.question {
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 60%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
  /* Hack to make "rows" attribute apply in Firefox. */
}

/* Underline and Placeholder */

input.question+label,
textarea.question+label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 40%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus+label,
textarea.question:focus+label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  /* margin-top: 35px; */
}

input.question:focus+label>.text,
input.question:valid+label>.text {
  top: -80px;
  font-size: 1.4rem;
  color: #333;
}


input.question:valid+label,
textarea.question:valid+label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question+label>.text,
textarea.question+label>.text {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: var(--color-text-black);
  font-size: 1.5rem;
  top: -80px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, backgroundd 0.2s ease;
  transition: opacity 0.2s ease, backgroundd 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #eee;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid~input[type="submit"],
textarea.question:valid~input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid~input[type="submit"],
textarea.question:invalid~input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes backgroundd {
  100% {
    opacity: 1;
  }
}

/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */

.text {
  font-family: var(--font-inter);
  width: 20%;
  font-size: 28px;
  margin-bottom: 2.5%;
  z-index: 100000;
}

.input2,
.input4 {
  margin-top: 5vw;
}

/* Input Range */

#rangeValue {
  /* display: grid;
    justify-content: left;
    text-align: center; */
  font-size: 2em;
  font-family: var(--font-arial);
  color: var(--color-text-black);
  font-weight: 400;
}

.range {
  width: 25vw;
  height: 1vw;
  -webkit-appearance: none;
  background: var(--color-white);
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px var(--color-white);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-background-green);
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px var(--color-background-lightGreen);
}

.input3 {
  display: grid;
  justify-content: left;
  margin-top: 4vw;
  /* gap: 1.5vw; */
}

.input3 p {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  font-family: var(--font-inter);
  color: var(--color-text-black);
  font-weight: 400;
}

.input-range {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Output */
.output-all {
  background-color: var(--color-background-bluegreen);
  margin-top: 1vw;
  overflow-y: scroll;
  scrollbar-width: none;

  display: grid;
  justify-content: center;
}

/* Error Message */
#errorMessage {
  text-align: center;
  width: 30vw;
  font-family: var(--font-arial);
  font-size: 1.3em;
}

/* All Boxes grid/flex */
.output-all-boxes {
  /* width: 90%; */
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: 50% 50%;
  /* grid-template-columns: repeat(auto-fit, minmax(6vw, 40%)); */
  gap: 1vw;
  justify-content: center;
}

/* HOTEL BOX */
.singleBox {
  min-width: 22vw;
  min-height: 18vw;
  max-height: 19vw;

  border-radius: 1vw;
  border: 1.4px solid #000;

  background-color: var(--color-offwhite);
}

/* img */
.singleBox-img {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 10vw;
  object-fit: cover;
}

.singleBox-img img {
  width: 100%;
  height: 10vw;
  object-fit: cover;
  border-radius: 1vw 1vw 0 0;
}

/* Info */
.singleBox-info {
  padding: 0.5vw 1vw 0.5vw 1vw;
}

/* First row */
.singleBox-1row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-auto-columns: minmax(auto, 100%); */
  /* grid-template-columns: 50% 30% 20%; */
}

/* Name */
.singleBox-name {
  max-width: 50%;
  color: var(--color-black);

  font-family: var(--font-arial-bold);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  flex: 0 0 auto;
}


/* Location */
.singleBox-icon {
  flex: 0 0 auto;
  display: flex;

  padding: 0 0.4vw 0 0.4vw;
}

.singleBox-icon img {
  width: 2vw;
}

.singleBox-icon p {
  margin-left: 0.4vw;
  margin-top: 0.2vw;
  color: #323232;

  font-family: var(--font-arial);
  font-size: 1.2em;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

/* row 2 */
.singleBox-2row {
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
}

/* Price */
.singleBox-price {
  color: var(--color-black);
  font-family: var(--font-arial);
  font-size: 2em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.price-span {
  margin-left: 0.4vw;
  color: rgb(43, 43, 43);
  font-family: var(--font-arial);
  font-size: 0.7em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Button */
.button-18 {
  align-items: center;
  background-color: #0a66c2;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  width: 5vw;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}